$primary = #00bceb;
$secondary = #F39237;

$hover = #BF1363;
$dark = #191923;

@import 'fonts'

body
  font-family 'Museo Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"

a
  transition all 0.1s ease-in
  text-decoration none
  color: $primary

  &:hover
    color: $hover
    text-decoration none

button:focus
  outline: none !important

.container
  max-width: 1290px;

.button
  padding 12px 24px
  line-height 18px
  border-radius 30px
  font-size 14px
  font-weight 600
  transition all 0.1s ease-in

  &--large
    padding 16px 36px
    border-radius 50px

  &--primary
    color #fff
    background-color $primary

    &:hover
      background darken($primary,15%)
      color #fff

  &--secondary
    background-color $secondary
    color #fff

    &:hover
      background darken($secondary,10%)

  &--light
    background-color #fff
    color #3a3a3a

.form-control
  font-size 1rem
  border-radius 12px
  padding 0.75rem 1rem
  height auto
  line-height 1
  border 1px solid #ced4da

.close
  font-weight: 300;
  font-size: 2.5rem

.custom-control-input:checked~.custom-control-label::before
  background-color: $primary
  border-color: $primary

@import 'sections/*'
