footer
  background-color: $dark;
  color: #636363;
  font-size: 13px;
  padding: 10px 0;

  p
    margin-bottom: 0

  a
    color: #fff;

.footer-grid
  display: flex;
  align-items: center;
  justify-content: space-between;
